/* CSS KEYFRAMES ANIMATIONS */

@keyframes up-down {
    from {
        transform: translate(25%, -10%);
    }
    to {
        transform: translate(25%, 0%);
    }
}

@keyframes left-right {
    from {
        transform: translate(20%, -5%);
    }
    to {
        transform: translate(35%, -5%);
    }
}

@keyframes clockwise {
    0% {
        transform: translate(25%, -5%);
    }
    25% {
        transform: translate(28%, -2%);
    }
    50% {
        transform: translate(25%, 1%);
    }
    75% {
        transform: translate(22%, -2%);
    }
    100% {
        transform: translate(25%, -5%);
    }
}

@keyframes fetch {
    0% {
        transform: translate(25%, -5%);
    }
    20% {
        transform: translate(5%, -10%) rotate(90deg) scale(90%, 90%);
    }
    40% {
        transform: translate(-15%, -15%) rotate(180deg) scale(70%, 70%);
    }
    60% {
        transform: translate(-35%, -10%) rotate(240deg) scale(60%, 60%);
    }
    80% {
        transform: translate(-55%, -5%) rotate(360deg) scale(50%, 50%);
    }
    100% {
        transform: translate(25%, -5%) scale(100%, 100%);
    }
}

@keyframes squeeze {
    0% {
        transform: translate(25%, -5%) scale(100%, 100%);
    }
    50% {
        transform: translate(25%, -5%) scale(110%, 95%);
    }
    100% {
        transform: translate(25%, -5%) scale(100%, 100%);
    }
}