html {
    background-color: rgb(0, 8, 8);
    color: white;
    font-family:'Lucida Console';
}

h2 {
    padding: 0px 0px 0px 2px;
    margin: 0px;
}

#header {
    text-align: center;
    width: 100%;
    letter-spacing: 15px;
}

body {
    position: relative;
    margin: 0px 8px ;
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
}

/* PET DISPLAY */

#pet-display-div {
    max-width: 100%;
    height: auto;
    position: relative;
}

#pet-bg {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#pet-img {
    position: relative;
    height: 30%;
    width: 30%;
    z-index: 1;
    transform: translate(125%, 0%);
}

#stink-img {
    position: absolute;
    height: 100%;
    width: auto;
    z-index: 2;
    transform: translate(27%, -0.5%);
}

#active-img {
    position: absolute;
    height: 100%;
    width: auto;
    z-index: 3;
    transform: translate(25%, -5%);
}

/* INTERACTIVE DISPLAY */

button, select {
    font-family: 'Lucida Console';
}

.active {
    color: green;
}

.unclickable {
    cursor: default;
    text-decoration: line-through;
}

#user-div {
    min-height: 275px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.container div {
    margin: 5px;
    padding: 4px;
    min-width: 250px;
}

#pet-needs-div, #interact-buttons-div {
    border: 1px solid white;
    min-height: 200px;
}

#pet-needs-div p {
    margin-top: 7px;
    text-align: center;
    letter-spacing: 4px;
}

#interact-buttons-div div {
    margin-top: 2px;
    letter-spacing: 2px;
}

#notification-div {
    min-height: 250px;
    min-width: 48%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#clear-button {
    align-self: flex-end;
}

#notification-box {
    background-color: rgb(0, 8, 8);
    border: 1px solid white;
    width: 99%;
    height: 80%;
    overflow-y: scroll;
}

.notification {
    border-width: 0px 0px 1px 0px;
    border-color: white;
    border-style: dashed;
    padding: 0.5rem;
    margin: 0;
    letter-spacing: 1px;
}

/* ANIMATED CLASSES */

.animateUpDown {
    animation-name: up-down;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

.animateLeftRight {
    animation-name: left-right;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 7;
    animation-direction: alternate;
}

.animateClockwise {
    animation-name: clockwise;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

.animateSqueeze {
    animation-name: squeeze;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

.animateFetch {
    animation-name: fetch;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

.animateBackForth {
    animation: left-right;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.81, 0.2, 0.3, 0.25);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.animateRunAround {
    animation: run-around;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.animateRunAroundStink {
    animation: run-around-stink;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}